<form class="form row">
  <div class="form-group col-md-4">
    <label for="nombre" class="visually-hidden">Nombre:</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      class="form-control"
      #nombreRef
    />
  </div>
  <div class="form-group col-md-4">
    <label for="apellido" class="visually-hidden">Apellido:</label>
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      class="form-control"
      #apellidoRef
    />
  </div>
  <div class="col">
    <button
      type="submit"
      class="btn btn-primary col-12"
      (click)="agregarPersona()"
    >Agregar
    </button>
  </div>
</form>
